@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

html{
  background-color: dark !important;
}

/*#454a4d  #181a1b  #202324 #736b5e*/
body{
  color: #FFF;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists{
  margin-top: -150px;
}

footer{
  margin: 30px auto;
}

footer p{
  margin:  0;
  text-align: center;
}

.loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img{
  width: 50vw;
}